body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

table,
thead,
td {
  border: 1px solid black;
}

tbody td:not(.question-mark) {
  display: none;
}

thead tr {
  display: flex;
}

thead tr td {
  text-transform: uppercase;
  font-size: 12px;
}

table {
  height: 600px;
  width: 600px;
}

td {
  width: 200px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #115ff4;
}

tbody tr {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  z-index: 1000;
}

table {
  margin-bottom: 2em;
  color: white;
}

.start-btn,
.restart-btn {
  z-index: 1000;
  color: white;
  background-color: #8d2ab5;
  padding: 15px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #115ff4;
  position: absolute;
  top: 0;
  left: 0;
}


@media only screen and (max-width: 600px) {
  table {
    width: 400px;
    height: 400px;
  }

  thead tr {
    height: 100px;
  }

  td {
    width: 100px;
  }
}

